.nav {
  grid-area: n;
  background-color: lightblue;
  text-align: center;
  padding: 20px 0;
}

.link {
  text-decoration: none;
  color: white;
}

.active {
  color: gold;
  text-decoration: none;
}