.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 20px;
}

.dialog {
  margin: 5px;
}

.messages {
  padding: 20px;
}

.message {
  margin: 5px;
}

.active {
  color: gold;
}